<EditorConfig>
  <TypedSvarViews>
    <TypedSvarView>
      <typeInfo>java.awt.Color</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/ColorSVarViewGeneratord160f0c23cb84d2ab0f00b88bd85773f.scala</fileName>
          <className>simx.components.editor.gui.ColorSVarViewGeneratord160f0c23cb84d2ab0f00b88bd85773f</className>
          <usedForSVars>
            <sVarIdentifier>diffuseColor</sVarIdentifier>
            <sVarIdentifier>specularColor</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>scala.collection.immutable.Map$EmptyMap$</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/Map$EmptyMap$SVarViewGenerator10d0342c6892435bb6329671aab2f724.scala</fileName>
          <className>simx.components.editor.gui.Map$EmptyMap$SVarViewGenerator10d0342c6892435bb6329671aab2f724</className>
          <usedForSVars>
            <sVarIdentifier>tuioCursors</sVarIdentifier>
            <sVarIdentifier>tuioObjects</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>simplex3d.math.floatm.ConstMat4f</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/ConstMat4fSVarViewGenerator171103effeec48f7ad46a05b01bc050e.scala</fileName>
          <className>simx.components.editor.gui.ConstMat4fSVarViewGenerator171103effeec48f7ad46a05b01bc050e</className>
          <usedForSVars/>
        </SVarView>
        <SVarView>
          <fileName>src/ConstMat4fSVarViewGeneratorded9e79cfaca4a538cccf7da1b972311.scala</fileName>
          <className>simx.components.editor.gui.ConstMat4fSVarViewGeneratorded9e79cfaca4a538cccf7da1b972311</className>
          <usedForSVars>
            <sVarIdentifier>transformation</sVarIdentifier>
          </usedForSVars>
        </SVarView>
        <SVarView>
          <fileName>src/ConstMat4fSVarViewGeneratore1688f7d34ec439e8fe5685c6da36f9c.scala</fileName>
          <className>simx.components.editor.gui.ConstMat4fSVarViewGeneratore1688f7d34ec439e8fe5685c6da36f9c</className>
          <usedForSVars>
            <sVarIdentifier>headTransform</sVarIdentifier>
            <sVarIdentifier>viewPlatform</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>simx.components.ai.atn.gui.GraphContainer</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/GraphContainerSVarViewGeneratora758a4e1abc74c46a0172a3e52ecc4d9.scala</fileName>
          <className>simx.components.editor.gui.GraphContainerSVarViewGeneratora758a4e1abc74c46a0172a3e52ecc4d9</className>
          <usedForSVars>
            <sVarIdentifier>Graph</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>simx.core.entity.description.SValSet</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/SValSetSVarViewGenerator59c2a78e77fe48bb90de6b71dfaf0d94.scala</fileName>
          <className>simx.components.editor.gui.SValSetSVarViewGenerator59c2a78e77fe48bb90de6b71dfaf0d94</className>
          <usedForSVars>
            <sVarIdentifier>Register</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
  </TypedSvarViews>
  <TypedSvarSetters>
    <TypedSvarSetter>
      <typeInfo>java.awt.Color</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/ColorSVarSetterGeneratorfe7f4cec6e4246c2b922c328dd4d57d5.scala</fileName>
          <className>simx.components.editor.gui.ColorSVarSetterGeneratorfe7f4cec6e4246c2b922c328dd4d57d5</className>
          <usedForSVars>
            <sVarIdentifier>diffuseColor</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.awt.Font</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/FontSVarSetterGenerator47134f2e546b4c8b916aeb29f00ccddc.scala</fileName>
          <className>simx.components.editor.gui.FontSVarSetterGenerator47134f2e546b4c8b916aeb29f00ccddc</className>
          <usedForSVars>
            <sVarIdentifier>Font</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.Boolean</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/BooleanSVarSetterGeneratorbc3c1c8da9e946cb8c26b5887e725e41.scala</fileName>
          <className>simx.components.editor.gui.BooleanSVarSetterGeneratorbc3c1c8da9e946cb8c26b5887e725e41</className>
          <usedForSVars/>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.Float</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/FloatSVarSetterGeneratorac52c274df4649c4914e6bab50360036.scala</fileName>
          <className>simx.components.editor.gui.FloatSVarSetterGeneratorac52c274df4649c4914e6bab50360036</className>
          <usedForSVars>
            <sVarIdentifier>restitution</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
        <SVarSetter>
          <fileName>src/FloatSVarSetterGeneratord4fa400ebfec4773a1fa774e98c68f9a.scala</fileName>
          <className>simx.components.editor.gui.FloatSVarSetterGeneratord4fa400ebfec4773a1fa774e98c68f9a</className>
          <usedForSVars>
            <sVarIdentifier>angularFactor</sVarIdentifier>
            <sVarIdentifier>constantAttenuation</sVarIdentifier>
            <sVarIdentifier>linearAttenuation</sVarIdentifier>
            <sVarIdentifier>minDistanceToNeighbors</sVarIdentifier>
            <sVarIdentifier>minDistanceToPredators</sVarIdentifier>
            <sVarIdentifier>quadraticAttenuation</sVarIdentifier>
            <sVarIdentifier>shadowBias</sVarIdentifier>
            <sVarIdentifier>spotCutOff</sVarIdentifier>
            <sVarIdentifier>spotExponent</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.Integer</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/IntegerSVarSetterGenerator8a8c151931de45bebdbdb183ec3cb419.scala</fileName>
          <className>simx.components.editor.gui.IntegerSVarSetterGenerator8a8c151931de45bebdbdb183ec3cb419</className>
          <usedForSVars/>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.String</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/StringSVarSetterGenerator749d7b6a618d4d96a1ac0aad3ac47f1e.scala</fileName>
          <className>simx.components.editor.gui.StringSVarSetterGenerator749d7b6a618d4d96a1ac0aad3ac47f1e</className>
          <usedForSVars>
            <sVarIdentifier>String</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
        <SVarSetter>
          <fileName>src/StringSVarSetterGenerator7f43c7c885aa41ae904f00496b058966.scala</fileName>
          <className>simx.components.editor.gui.StringSVarSetterGenerator7f43c7c885aa41ae904f00496b058966</className>
          <usedForSVars>
            <sVarIdentifier>File</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>simplex3d.math.floatm.ConstMat4f</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/ConstMat4fSVarSetterGeneratore414020ca06e4f9f885a89bc3a20a4fe.scala</fileName>
          <className>simx.components.editor.gui.ConstMat4fSVarSetterGeneratore414020ca06e4f9f885a89bc3a20a4fe</className>
          <usedForSVars>
            <sVarIdentifier>transformation</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>simplex3d.math.floatm.ConstVec2f</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/ConstVec2fSVarSetterGenerator039be9b1d2e541669f4dd62d68327236.scala</fileName>
          <className>simx.components.editor.gui.ConstVec2fSVarSetterGenerator039be9b1d2e541669f4dd62d68327236</className>
          <usedForSVars>
            <sVarIdentifier>Position2D</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
  </TypedSvarSetters>
</EditorConfig>